body{
  width: 100%;
  height: 100vh;
  
}

#root{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.down{




  margin-left: 7.5rem;
  margin-top: 2rem;
}